@import "../variables";
@import "../mixins";

.home_wrapper {
    width: 100%;
    background-size: cover;
    padding-top: 80px;
    flex: 1;
    background-position: right top !important;
    background-size: cover !important;
    transition: opacity 0.5s;
    position: relative;
    &::before{
        content: "";
        background: transparent linear-gradient(90deg, #040404 0%, #040404FA 21%, #04040400 100%) 0% 0% no-repeat padding-box;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    .main_film_content{
        position: relative;
        z-index: 6;
    }
    .video_inner_container{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .video_container{
        position: absolute;
        transition: 0.5s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
        &::before{
            content: "";
            background: transparent linear-gradient(90deg, #040404 0%, #040404FA 21%, #04040400 100%) 0% 0% no-repeat padding-box;
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            z-index: 5;
        }
    }
    &.coverImageShow{
        .video_container{
            opacity: 0;
        }
    }
    &.coverVideoShow{
        background: transparent !important;
        &:before{
            opacity: 0;
        }
        .video_container{
            opacity: 1;
        }
    }
    .content_type {
        color: #858688;
        font-size: 24px;
        line-height: 28px;
        font-family: $bold;
        text-transform: uppercase;
    }
    .film_desc_image{
        max-width: 680px;
        height: 150px;
        margin-top: 10px;
        img{
            width: 100%;
            height: 100%;
            vertical-align: top;
        }
    }
    .second_line{
        margin-top: 15px;
        font-size: 30px;
        line-height: 42px;
        display: flex;
        align-items: center;
        color: #F1F1F1;
        span{
            display: block;
            margin-right: 20px;
        }
    }
    .film_description{
        margin-top: 10px;
        font-size: 32px;
        max-width: 750px;
        line-height: 38px;
        min-height: 114px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis
    }
    .button_line{
        margin-top: 30px;
        display: flex;
        align-items: center;   
    }
    .play_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 240px;
        border-radius: 40px;
        background: #F1F1F1;
        font-size: 32px;
        line-height: 30px;
        font-family: $bold;
        color: #0C0C0C;
        text-decoration: none;
        height: 72px;
        transition: 0.3s;
        svg{
            width: 25px;
            display: block;
            margin-right: 5px;
        }
        &:hover{
            opacity: 0.7;
        }
    }
    .info_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 240px;
        border-radius: 40px;
        background: transparent linear-gradient(128deg, #2727F5 0%, #001671 100%) 0% 0% no-repeat padding-box;
        font-size: 32px;
        line-height: 30px;
        font-family: $bold;
        margin-left: 18px;
        color: #F1F1F1;
        text-decoration: none;
        height: 72px;
        transition: 0.3s;
        svg{
            width: 25px;
            display: block;
            margin-right: 5px;
        }
        &:hover{
            opacity: 0.7;
        }
    }

    @media (max-width: 1440px) {
        padding-top: 50px;
        .film_desc_image img {
            width: 100%;
            height: 100%;
        }
        .film_desc_image {
            max-width: 468px;
            height: 63px;
            margin-top: 12px;
        }
        .second_line {
            margin-top: 10px;
            font-size: 24px;
            line-height: 37px;
        }
        .film_description {
            margin-top: 10px;
            font-size: 24px;
            max-width: 720px;
            line-height: 34px;
            min-height: 103px;
        }
        .button_line {
            margin-top: 20px;
        }
        .play_btn , .info_btn{
            width: 184px;
            border-radius: 30px;
            font-size: 24px;
            line-height: 30px;
            height: 55px;
        }
    }
}