@import "./assets/scss/variables";
@import "./assets/scss/mixins";

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent !important;
  box-sizing: border-box;
}


body {
  background: $black;
  position: relative;
  min-height: 100vh;
  color: $siteColor;
  font-family: $regular;
  min-height: 100vh;
  padding-left: 157px;
  &.menu-opened {
    overflow: hidden;
  }
}

.home_wrapper{
  background: red;  
  opacity: 0.1;
  width: 100%;
  height: 100vh;
}

#root{
  width: 100%;
  height: 100%;
}